
.App {
  text-align: center;
  width: 100vw;  
}

header {
  display: flex;
  width: 100vw;
  justify-content: space-between;
  border-bottom: black solid 2px;
}

.logo {
  display: flex;
  flex-grow: 0;
  height: 100px;
  width: 100px;
  border: black solid 2px;
  border-radius: 50px;
  box-sizing: border-box;
  margin: 1em;
  padding: 25px 25px;
  text-align: center;
  
  
}

form.search-bar {
  display: flex;
  width: 300px;;
  overflow: hidden;
  margin: 30px 5px;
  float: right;
  

}

.search-bar input[type="text"] { 
  box-sizing: border-box;
  height: 5em;
  width: 250px;
  border: black solid 2px;
  /* float: left; */
} 

.navbar {
  overflow: hidden;
  background-color: #83c5be;
  /* display: flex;
  flex-wrap: wrap;
  border: black solid 2px;
  padding: 6px;
  margin: 35px 5px;
  justify-content: space-around; */
}
  
.navbar a {
  float: left;
  font-size: 16px;
  color: #edf6f9;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #006d77
}





.container {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  background-color: beige;
  background: fill;
  position: absolute;
  top: 135;
  left: 0;
  right: 270px;
  height: 100%;
  overflow: hidden;
  justify-content: space-around;
}

.outfitform input { 
  border: blue solid 2px;
  height: 20px;
  width: 200px;

}

.allOutfits {
  background-color: orange;
}

footer {
  position: absolute;
  bottom: 0;
  
  width: 100vw;
}