.App {
  text-align: center;
}

.outfitcontainer {
  box-sizing: border-box;
  border: green solid 3px;
  height: 100vh;
}

.outfit {
  height: 200px;
  width: 170px;
  border: purple solid 3px;
}
.outfitform input { 
  border: blue solid 2px;
  height: 20px;
  width: 200px;

}

.allOutfits {
  background-color: orange;
}