.outfitform {
    display: flex;
    flex-direction: column;
}

.outfitform input {
    border: #f6f6f6;
    background-color: #f6f6f6;
    display: flex;
    align-self: center;
    padding: 1em;
    margin: 1em 2em .2em 2em;
    border-radius: 4px;
   
}

.form [type="submit"] {
    background-color: #ffddd2; 
    padding: .9em;
    border-radius: 5px;
}